<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MovieApp Ana Sayfa</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylebaking.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bg-light sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">MovieApp</a>
            <button class="navbar-toggler" role="button" type="button" data-toggle="collapse" data-target="#navbarmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarmenu" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a asp-action="List" asp-controller="Home" class="nav-link">List</a></li>
                    <li class="nav-item"> <a asp-action="Create" asp-controller="Home" class="nav-link">Create</a></li>
                    <li class="nav-item"> <a asp-action="Search" asp-controller="Home" class="nav-link">Search</a></li>

                </ul>
            </div>
        </div>
    </nav>



 @RenderBody()
</body>

</html>